$color1: #fff;
$color2: #000;
$color3: #43b02a; //#6bc047;
$color4: #2c2c2c;
$color5: #fdfdfd;
$color6: #f0f0f0;
$color7: #252525;
$color8: #b5b5b5; //#cfcfcf;
$color9: #f6f7f8;
$color10: #00d96b;
$color11: #e56a57;
$color12: #ebebeb;
$color13: #eee;
$color14: #2a2a2a;
$color15: #5a5a5a;
$color16: #f1f1f0;
$color17: #363636;
$color18: #66b844;
$color19: #3c3c3c;
$color20: #292929;
$color21: #e6e6e6;
$color22: #666;
$color23: #0ea6b9;
$color24: #ccc;
$color25: #efeff1;
$color26: #fafbfd;
$color27: #e7f0fa;